/* body{
  background-image: url('/BatterOnDeck/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
} */

.navbar{
    /* background-color: rgb(51, 67, 116); */
    background-color: #083b66;
    color: white;
}

#search{
  /* display: block;
  align-content: center; */
  /* padding-left: 40%; */
  width: 20%;
}
   
li{
     padding: 2px;
     align-content: flex-end;
}
   
.dropdown-item{
     background-color: grey;
     color: greenyellow;
}

#home{
  text-align: center;
}

#playerInfo {
  text-align: center;
}

#active {
  /* background-color: whitesmoke; */
  text-align: center;
}

#retired {
  /* background-color: whitesmoke; */
  color: grey;
  text-align: center;
}

#missing {
  /* background-color: whitesmoke; */
  color: crimson;
  text-align: center;
}

#missingPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  /* width: 50%; */
}

#dropDownList {
  /* align-content: center;
  display: inline-block; */
  text-align: center;
  /* float: center; */
}

.row > div {
  background-color: cornsilk;
  border: solid 1px black;
  border-radius: 7px;
  font-size: 1.5em;
  font-weight: bold;
  /* padding: 5%; */
  /* margin: 0% 0.5% 0% 0.5%; */
  padding: 0.5% 0% 3% 1%;
  text-align: center;
  width: 8%;
}
   