.navbar{
    /* background-color: rgb(51, 67, 116); */
    background-color: #083b66;
    color: white;
}

#search{
  /* display: block;
  align-content: center; */
  /* padding-left: 40%; */
  width: 20%;
}
   
li{
     padding: 2px;
     align-content: flex-end;
}
   
.dropdown-item{
     background-color: grey;
     color: greenyellow;
}

#name {
  text-align: center;
}

#missing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
   